<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Graffiti Labeling</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">
        <style>
            .progress {
                background-color: lightgreen;
                display: block;
                overflow: visible;
                text-align: center;
            }

            .hidden {
                display: none;
            }
        </style>
    </head>

    <body style="background-color: slategray;" >
        <div id="pb" class="progress"></div>
        <h2>Describe this photo:</h2>
        <img style="margin-left: 30%;" src="/current-image">
        <div id="done" class="hidden">{{done}}</div>
        <div id="total" class="hidden">{{total_avail}}</div>
        <div id='upload-container'>
            <form id = "upload-form" action = "/set-label" method="POST" enctype = "multipart/form-data">
                <label for="text">Literal Text:</label><input name = "text" autofocus>
                <label for="background">Background Texture:</label><input name="background">
                <label for="fill">Fill Color:</label><input name="fill">
                <label for="outline">Outline Color:</label><input name="outline">
                <label for="style">Genral Style:</label><input name="style">
                <label for="highlights">Highlights Color:</label><input name="highlights">
                <input type = "submit"/>
            </form>
            <p>äöüß</p>
        </div>
    </body>
    <script>
        var progressBar = document.getElementById("pb");
        var siteWidth = window.innerWidth;
        var done = document.getElementById("done").innerHTML;
        var total = document.getElementById("total").innerHTML;
        var percentDone = (Number(done) / Number(total)) * 100;
        progressBar.innerHTML = String(percentDone.toFixed(2)) + "% " + done + "/" + total;
        progressBar.style.width = siteWidth * (percentDone / 100);
    </script>
</html>